<a href="https://colab.research.google.com/github/VishalAmbavade/Contelligenz/blob/main/Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('drive/MyDrive/Contelligenz Data Science/Datasets/user_profile_with_recommendations_v1.csv')
df2 = pd.read_csv('drive/MyDrive/Contelligenz Data Science/Datasets/user_item_interactions_implicit_binary_v1.csv')

In [ ]:
df.head()

   total_titles_viewed  ...                                    viewing_history
0                    1  ...                                               [43]
1                    2  ...                                         [158, 190]
2                   13  ...  [28, 37, 41, 72, 104, 163, 190, 230, 243, 261,...
3                    5  ...                           [75, 178, 210, 237, 266]
4                    8  ...             [40, 70, 104, 155, 204, 233, 250, 266]

[5 rows x 16 columns]

In [ ]:
df2.head()

                                              userid  ... views
0  ebbb77a5e7d1b4083342281ee8b1509cdb486f3b2df993...  ...   1.0
1               ebbb8da9-12e9-4826-9d5f-788f7bf2a76e  ...   1.0
2               ebbb8da9-12e9-4826-9d5f-788f7bf2a76e  ...   0.0
3  ebbba3b51cd791646e1bce9dfab33f41f9c0d742ef30c4...  ...   0.0
4  ebbba3b51cd791646e1bce9dfab33f41f9c0d742ef30c4...  ...   1.0

[5 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39005 entries, 0 to 39004
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   total_titles_viewed         39005 non-null  int64
 1   startDate                   39005 non-null  object
 2   latestDate                  39005 non-null  object
 3   activeDuration              39005 non-null  int64
 4   sessionsCount               39005 non-null  int64
 5   sessionsperDay              39005 non-null  float64
 6   total_view_minutes          39005 non-null  float64
 7   avg_video_completion_rate   39005 non-null  float64
 8   subscription_type           39005 non-null  object
 9   userAge                     39005 non-null  int64
 10  Recency                     39005 non-null  int64
 11  userType                    39005 non-null  object
 12  userStatus                  39005 non-null  object
 13  userid                      39005 non-null  int64
 14  user_title_recommendations  39005 non-null  object
 15  viewing_history             39005 non-null  object
dtypes: float64(3), int64(6), object(7)
memory usage: 4.8+ MB

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254076 entries, 0 to 254075
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   userid    254076 non-null  object
 1   video_id  254076 non-null  object
 2   views     254076 non-null  float64
dtypes: float64(1), object(2)
memory usage: 5.8+ MB